/* Indice - destacados */

.indice-destacados-ofertas {
  width: 1100px;
  margin: auto;
}

.h1-destacados {
  color: #fff;
  font-family: monospace;
  font-weight: 100;
}

.contenido-destacados {
  width: 100%;
  height: 360px;
}

img {
  display: block;
}

.destacado-uno {
  float: left;
}

.destacado-dos {
  float: left;
  margin-left: 10px;
}

.destacado-tres {
  float: right;
  margin-left: 10px;
}

.mas-destacados {
  font-family: monospace;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  float: right;
  margin-bottom: 50px;
}

/* Indice - ofertas */

.h1-ofertas {
  color: #fff;
  font-family: monospace;
  font-weight: 100;
  clear: both;
}

.contenido-ofertas {
  width: 100%;
  height: 212px;
}

.oferta-uno {
  float: left;
}

.oferta-dos {
  float: left;
  margin-left: 10px;
}

.oferta-tres {
  float: left;
  margin-left: 10px;
}

.oferta-cuatro {
  float: right;
  margin-left: 10px;
}

.oferta-cinco {
  float: right;
  margin-left: 10px;
}

.mas-ofertas {
  font-family: monospace;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  float: right;
  margin-bottom: 50px;
}

.contenido-destacados > a > img {
  box-shadow: 0px 0px 20px #000;
}

.contenido-destacados > a > img:hover {
  box-shadow: 0px 0px 10px #ff9;
}

.contenido-ofertas > a > img {
  box-shadow: 0px 0px 20px #000;
}

.contenido-ofertas > a > img:hover {
  box-shadow: 0px 0px 10px #ff9;
}

/* Indice - menús */

.indice-novedades-noticias {
  width: 1100px;
  margin: auto;
  clear: both;
}

/* Indice - novedades */

.menu-novedades {
  float: left;
  width: 500px;
  border: 2px solid black;
  background-color: #006797;
  box-shadow: 0px 0px 20px #000;
}

.indice-novedades-noticias h1 {
  font-family: monospace;
  background-color: black;
  text-align: center;
  color: white;
  margin-bottom: 1px;
  height: 30px;
  line-height: 30px;
}

.novedad-indice {
  width: 100%;
  height: 140px;
  background-color: #04445c;
  margin-bottom: 1px;
}

.novedad-indice img {
  float:left;
}

.contenido-novedades-indice {
  float: left;
  width: 270px;
  color: white;
}

.novedad-indice-titulo {
  text-align: center;
  width: 100%;
  margin-top: 5px;
}

.indice-sist-operativo {
  margin-top: 10px;
  width: 50px;
  height: 20px;
  margin-left: auto;
  margin-right: auto;
}

.indice-sist-operativo img:nth-child(2) {
  float: right;
}

.indice-categorias {
  margin-top: 10px;
  text-align: center;
}

.indice-novedad-precio {
  color: white;
  float: right;
  background-color: #02223b;
  margin-right: 20px;
  margin-top: 20px;
  width: 60px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #006797;
  border-radius: 5px;
}

.indice-mas-novedades {
  background-color: black;
  color: white;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-family: monospace;
}

/* Indice - noticias */

.menu-noticias {
  float: right;
  width: 500px;
  border: 2px solid black;
  background-color: #006797;
  box-shadow: 0px 0px 20px #000;
  margin-bottom: 50px;
}

.noticia-indice {
  width: 100%;
  height: 140px;
  background-color: #04445c;
  margin-bottom: 1px;
}

.noticia-indice img {
  float:left;
}

.contenido-noticias-indice {
  float: left;
  width: 260px;
  color: white;
  margin-left: 5px;
}

.noticia-indice-titulo {
  margin-top: 5px;
}

.fecha-noticia-titulo {
  margin-bottom: 10px;
}

.contenido-noticias-indice span {
  display: block;
  text-align: justify;
}

.indice-mas-noticias {
  background-color: black;
  color: white;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  font-family: monospace;
}

/* Tienda */

.tienda-menu {
  width: 800px;
  margin: auto;
}

.tienda-submenu {
  width: 100%;
}

.tienda-menu-juego {
  float: left;
  width: 300px;
  min-height: 300px;
  margin-bottom: 50px;
  background-color: #03334b;
  box-shadow: 0px 0px 20px #000;
  color: white;
}

.tienda-submenu a:nth-child(2) .tienda-menu-juego {
  margin-left: 200px;
}

.tienda-menu-juego h3 {
  font-family: monospace;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
}

.tienda-menu-contenido {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
}

/* Tienda - juegos */

.juegos-tienda {
  width: 800px;
  margin: auto;
}

.juegos-tres-primeros, .juegos-tres-segundos, .juegos-tres-terceros {
  width: 100%;
}

.juego-uno, .juego-dos, .juego-tres, .juego-cuatro, .juego-cinco, .juego-seis, .juego-siete, .juego-ocho, .juego-nueve {
  background-color: #03334b;
  width: 200px;
  min-height: 200px;
  float: left;
  margin-bottom: 50px;
  box-shadow: 0px 0px 20px #000;
}

.juego-dos, .juego-tres, .juego-cinco, .juego-seis, .juego-ocho, .juego-nueve {
  margin-left: 100px;
}

.juego-tienda-contenido {
  color: white;
}

.titulo-juego-tienda {
  margin-top: 5px;
  text-align: center;
}

.tienda-juegos-sistemas {
  margin: auto;
  margin-top: 10px;
  width: 50px;
  height: 20px;
}

.tienda-juegos-sistemas img:nth-child(1) {
  float: left;
}

.tienda-juegos-sistemas img:nth-child(2) {
  float: right;
}

.tienda-juegos-categorias {
  margin-top: 5px;
  text-align: center;
}

.tienda-juegos-descuento {
  background-color: #02223b;
  width: 70px;
  height: 30px;
  float: left;
  margin-top: 5px;
  margin-left: 20px;
  border: 1px solid #04445c;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}

.tienda-juegos-precio {
  background-color: #02223b;
  width: 70px;
  height: 30px;
  float: right;
  margin-top: 5px;
  margin-right: 20px;
  border: 1px solid #04445c;
  border-radius: 5px;
  text-align: center;
  line-height: 30px;
}

.h1-juegos-tienda {
  color: white;
  font-family: monospace;
  font-weight: 100;
  margin-bottom: 10px;
}

#juego-tienda:hover .tienda-juegos-precio {
  background-image: radial-gradient(#003666, #005686);
}

#juego-tienda:hover .tienda-juegos-descuento {
  background-image: radial-gradient(#090, #070, #050);
}

/* Tienda - destacados - ofertas */

.destacados-ofertas-section {
  width: 1100px;
  margin: auto;
}

.h1-destacados-ofertas-tienda {
  color: white;
  font-family: monospace;
  font-weight: 100;
  margin-bottom: 10px;
}

.destacados-ofertas-principal {
  background-color: #04445c;
  height: 400px;
  box-shadow: 0px 0px 20px #000;
}

.imagen-principal-destacado-oferta {
  width: 640px;
  height: 400px;
  float: left;
}

.imagen-principal-destacado-oferta img {
  margin-left: 20px;
  margin-top: 20px;
}

.destacados-ofertas-principal-galeria-contenido {
  width: 460px;
  height: 360px;
  float: right;
  margin-top: 20px;
}

.destacados-ofertas-principal-scroll {
  overflow: scroll;
  overflow-y: hidden;
  margin-right: 20px;
}

.destacados-ofertas-principal-imagenes {
  width: 825px;
  height: 130px;
}

.destacados-ofertas-principal-imagenes > img {
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

.destacados-ofertas-principal-galeria-contenido > img:nth-child(4) {
  float: right;
  margin-right: 5px;
}

.destacados-ofertas-principal-contenido {
  clear: both;
  margin-top: 10px;
  height: 213px;
  margin-right: 20px;
}

.destacados-ofertas-h3-principal {
  color: white;
}

.destacados-ofertas-sist-operativo {
  margin-top: 10px;
  width: 50px;
  height: 20px;
}

.destacados-ofertas-sist-operativo img:nth-child(1) {
  float: left;
}

.destacados-ofertas-sist-operativo img:nth-child(2) {
  float: right;
}

.destacados-ofertas-principal-categorias {
  color: white;
}

.destacados-ofertas-principal-resumen {
  margin-top: 10px;
  height: 80px;
  overflow: scroll;
  overflow-x: hidden;
  color: white;
}

.destacados-ofertas-principal-desc-precio {
  margin-top: 15px;
  width: 180px;
  float: right;
}

.destacados-ofertas-principal-desc {
background-color: #02223b;
width: 75px;
height: 35px;
float: left;
border: 1px solid #006797;
border-radius: 5px;
text-align: center;
line-height: 35px;
color: white;
}

.destacados-ofertas-principal-precios {
  background-color: #02223b;
  width: 75px;
  height: 35px;
  float: right;
  border: 1px solid #006797;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  color: white;
}

.destacados-ofertas-principal-galeria-contenido a:hover .destacados-ofertas-principal-contenido .destacados-ofertas-principal-precios {
  background-image: radial-gradient(#003666, #005686);
}

.destacados-ofertas-principal-galeria-contenido a:hover .destacados-ofertas-principal-contenido .destacados-ofertas-principal-desc {
  background-image: radial-gradient(#090, #070, #050);
}

.destacados-ofertas-juegos {
  margin-top: 50px;
}

.destacados-ofertas-juegos-primeros {
  height: 450px;
  width:1100px;
  margin: auto;
}

.destacados-ofertas-juegos-segundos {
  clear: both;
  height: 450px;
  width: 1100px;
  margin: auto;
}

.destacados-ofertas-juego-tres {
  height: 450px;
  width: 300px;
  background-color: #04445c;
  box-shadow: 0px 0px 20px #000;
}

.destacados-ofertas-juego-seis {
  height: 450px;
  width: 300px;
  background-color: #04445c;
  box-shadow: 0px 0px 20px #000;
}

.destacados-ofertas-juegos-primeros > a {
  float: left;
  margin-bottom: 30px;
}

.destacados-ofertas-juegos-primeros > a:nth-child(2), .destacados-ofertas-juegos-primeros > a:nth-child(3){
  margin-left: 100px;
}

.destacados-ofertas-juegos-segundos > a {
  float: left;
}

.destacados-ofertas-juegos-segundos > a:nth-child(2), .destacados-ofertas-juegos-segundos > a:nth-child(3){
  margin-left: 100px;
}

.destacados-ofertas-juego-contenido {
  color: white;
}

.destacados-ofertas-titulo-juego {
  margin-top: 5px;
  text-align: center;
  font-size: 20px;
}

.destacados-ofertas-juego-sistema {
  margin: auto;
  margin-top: 15px;
  width: 50px;
  height: 20px;
}

.destacados-ofertas-juego-sistema img:nth-child(1) {
  float: left;
}

.destacados-ofertas-juego-sistema img:nth-child(2) {
  float: right;
}

.destacados-ofertas-juego-categorias {
  margin-top: 10px;
  text-align: center;
}

.destacados-ofertas-juego-descuento {
  background-color: #02223b;
  width: 75px;
  height: 35px;
  float: left;
  margin-top: 10px;
  margin-left: 50px;
  border: 1px solid #006797;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
}

.destacados-ofertas-juego-precio {
  background-color: #02223b;
  width: 75px;
  height: 35px;
  float: right;
  margin-top: 10px;
  margin-right: 50px;
  border: 1px solid #006797;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
}

#juego-destacados-ofertas:hover .destacados-ofertas-juego-precio {
  background-image: radial-gradient(#003666, #005686);
}

#juego-destacados-ofertas:hover .destacados-ofertas-juego-descuento {
  background-image: radial-gradient(#090, #070, #050);
}

/* Tienda - novedades */

.novedades-section {
  width: 1100px;
  margin: auto;
}

.h2-novedades-tienda {
  font-family: monospace;
  color: white;
  font-weight: 100;
}

.subtitulo-novedades-tienda {
  font-family: monospace;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

.tienda-novedades-principales {
  width: 100%;
}

.tie-nov-filas {
  height: 350px;
}

.tie-nov-filas:nth-child(2), .tie-nov-filas:nth-child(3) {
  margin-top: 30px;
}

.tie-nov-uno, .tie-nov-dos, .tie-nov-tres {
  background-color: #03334b;
  width: 350px;
  height: 350px;
  box-shadow: 0px 0px 20px #000;
}

.tie-nov-uno, .tie-nov-dos {
  float: left;
}

.tie-nov-dos {
  margin-left: 25px;
}

.tie-nov-tres {
  float: right;
}

.novedades-juego-contenido {
  color: white;
}

.novedades-titulo-juego {
  margin-top: 5px;
  text-align: center;
  font-size: 18px;
}

.novedades-juego-sistema {
  margin: auto;
  margin-top: 5px;
  width: 50px;
  height: 20px;
}

.novedades-juego-sistema img:nth-child(1) {
  float: left;
}

.novedades-juego-sistema img:nth-child(2) {
  float: right;
}

.novedades-juego-categorias {
  margin-top: 5px;
  text-align: center;
}

.novedades-juego-precio {
  background-color: #02223b;
  width: 75px;
  height: 35px;
  float: right;
  margin-top: 5px;
  margin-right: 50px;
  border: 1px solid #006797;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
}

#juego-novedades:hover .novedades-juego-precio {
  background-image: radial-gradient(#003666, #005686);
}

/* Comunidad */

.comunidad-section {
  margin-top: 0px;
}

.comunidad-subcabecera {
  background-color: #04445c;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: black;
  box-shadow: 0px 0px 20px #000;
  padding: 50px 0px 30px 0px;
  background-image: linear-gradient(black, #04445c);
}

.comunidad-inicio-sesion {
  display: inline-block;
  width: 100%;
}

.comunidad-inicio-sesion h3 {
  color: white;
  font-family: monospace;
  font-size: 17px;
  font-weight: 600;
  margin-left: 100px;
}

.comunidad-formularios {
  margin-top: 15px;
  background-color: #03334b;
  border-radius: 20px;
  border: 1px solid black;
  height: 230px;
  width: 500px;
  float: left;
  margin-left: 100px;
}

.comunidad-formulario input {
  height: 30px;
  width: 400px;
  margin-top: 30px;
  margin-left: 15px;
}

.comunidad-formulario button {
  margin-top: 15px;
  margin-left: 15px;
  height: 30px;
  padding: 0px 10px 0px 10px;
  border: 1px solid #04445c;
}

.comunidad-registrarse {
  margin-top: 30px;
  margin-left: 15px;
}

.comunidad-registrarse a {
  color: gold;
}

.comunidad-inicio-sesion img {
  float: right;
  margin-top: 16px;
  margin-right: 100px;
}

.comunidad-secciones {
  display: inline-block;
  width: 1100px;
  display: flex;
  margin: auto;
  margin-top: 50px;
}

.comunidad-seccion-noticias {
  width: 350px;
  height: 350px;
  float: left;
  background-color: #04445c;
  box-shadow: 0px 0px 20px #000;
}

.comunidad-seccion-foro {
  width: 350px;
  height: 350px;
  float: left;
  margin-left: 25px;
  margin-right: 25px;
  background-color: #04445c;
  box-shadow: 0px 0px 20px #000;
}

.comunidad-seccion-media {
  width: 350px;
  height: 269px;
  margin-top: 43px;
  float: right;
  background-color: #04445c;
  box-shadow: 0px 0px 20px #000;
}

.comunidad-seccion-titulo {
  color: white;
  font-family: monospace;
  margin-top: 5px;
  text-align: center;
}

.comunidad-seccion-contenido {
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

.comunidad-facebook {
  display: flex;
}

.comunidad-twitter {
  display: flex;
}

.comunidad-facebook img, .comunidad-twitter img{
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.comunidad-facebook h3, .comunidad-twitter h3{
  margin-top: 25px;
  text-align: justify;
  margin-left: 10px;
  margin-right: 10px;
}

/* Comunidad - noticias */

.noticias-pagina-contenido {
  width: 800px;
  margin: auto;
}

.noticias-titulo-principal {
  font-family: monospace;
}

.noticias-pares {
  height: 350px;
}

.noticias-pares:nth-child(2) {
  margin-top: 15px;
}

.noticias-pares:nth-child(3), .noticias-pares:nth-child(4), .noticias-pares:nth-child(5), .noticias-pares:nth-child(6) {
  margin-top: 30px;
}

.noticias-pares a {
  color: white;
}

.noticia-izquierda {
  background-color: #04445c;
  box-shadow: 0px 0px 20px #000;
  float: left;
  width: 350px;
  height: 350px;
}

.noticias-noticia-titulo {
  float: left;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 17px;
  font-weight: bold;
}

.noticias-noticia-fecha {
  float: right;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
}

.noticias-noticia-contenido {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

.noticia-derecha {
  background-color: #04445c;
  box-shadow: 0px 0px 20px #000;
  float: right;
  width: 350px;
  height: 350px;
}

.noticia-derecha-titulo {
  float: left;
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 17px;
  font-weight: bold;
}

.noticia-derecha-fecha {
  float: right;
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
}

.noticia-derecha-contenido {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

/* Comunidad - foro */

.foro-pagina-contenido {
  width: 860px;
  margin: auto;
  background-color: #04445c;
  padding: 30px;
  box-shadow: 0px 0px 20px #000;
}

.foro-pagina-contenido h2 {
  font-family: monospace;
}

.foro-descripcion {
  font-family: monospace;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

.foro-subforos {
  width: 800px;
  margin: auto;
}

.foro-subforo {
  height: 100px;
  width: 100%;
  background-color: grey;
  border: 2px solid black;
  margin-top: 5px;
  text-align: center;
  line-height: 100px;
  font-size: 20px;
  font-family: monospace;
  color: black;
}

.foro-subforo:hover {
  background-color: darkgrey;
}

/* Soporte */

.soporte-contenido-superior {
  margin: auto;
  width: 700px;
  height: 250px;
}

.soporte-pagina-seccion {
  width: 300px;
  height: 250px;
  box-shadow: 0px 0px 20px #000;
  background-color: #04445c;
}

.soporte-pagina-seccion:nth-child(1) {
  float: left;
}

.soporte-pagina-seccion:nth-child(2) {
  float: right;
}

.soporte-contenido-inferior {
  margin: auto;
  margin-top: 50px;
  width: 300px;
  height: 250px;
}

.soporte-seccion-titulo {
  color: white;
  font-family: monospace;
  font-size: 19px;
  margin-top: 5px;
  text-align: center;
}

.soporte-contenido-inferior .soporte-seccion-titulo {
  font-size: 17px;
}

.soporte-seccion-contenido {
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

/* Soporte - contacto */

.contacto-contenido {
  margin-left: 100px;
  margin-right: 100px;
}

.contacto-contenido h2 {
  font-family: monospace;
}

.contacto-contenido p {
  font-family: monospace;
  color: white;
  font-size: 16px;
  margin-bottom: 10px;
}

.contacto-formulario {
  float: left;
  background-color: #04445c;
  padding: 30px;
  width: 650px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #000;
  margin-bottom: 50px;
}

.contacto-formulario input {
  display: block;
}

.contacto-formulario input:nth-child(1), .contacto-formulario input:nth-child(2) {
  margin-bottom: 20px;
}

.contacto-formulario input:nth-child(1) {
  float: left;
  width: 300px;
  height: 25px;
}

.contacto-formulario input:nth-child(2) {
  float: right;
  width: 300px;
  height: 25px;
}

.contacto-formulario textarea {
  width: 100%;
}

.contacto-form-enviar {
  margin: auto;
  margin-top: 20px;
  height: 30px;
  padding: 0px 10px 0px 10px;
  border: 1px solid #04445c;
  width: 100px;
  font-size: 15px;
}

.contacto-datos {
  float: left;
  margin-left: 20px;
}

.contacto-iframe-fondo {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  padding: 10px;
  background-color: #04445c;
  box-shadow: 0px 0px 20px #000;
  border-radius: 10px;
  margin-bottom: 50px;
}

.contacto-iframemap {
  width: 350px;
  height: 217px;
}

/* Soporte - acerca de nosotros */

/* Inicio de sesión */

/* Registro */

.registro-contenido {
  margin: auto;
  width: 650px;
}

.registro-titulo {
  font-family: monospace;
}

.registro-formulario {
  background-color: #04445c;
  width: 650px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px #000;
  margin-top: 15px;
  padding: 30px 0px 30px 0px;
}

.registro-form-campos {
  background-color: red;
}

.registro-form-campos input:nth-child(1) {
  float: left;
  margin-left: 50px;
  margin-bottom: 30px;
  width: 250px;
  height: 25px;
}

.registro-form-campos input:nth-child(2) {
  float: right;
  margin-right: 50px;
  margin-bottom: 30px;
  width: 250px;
  height: 25px;
}

.registro-formulario p {
  clear: both;
  text-align: center;
  margin-bottom: 20px;
}

.registro-formulario a {
  color: gold;
}

.registro-crearcuenta-boton {
  display: block;
  margin: auto;
  height: 30px;
  width: 100px;
  font-size: 15px;
}

/* Pac-Man */

.tableGame {
  margin: 10px;
  background-color: black;
  padding: 5px 3px 3px 3px;
}

table.tableGame td {
  background-color: #02223b;
  padding: 7px;
  color: white;
}
section{
  color: white;
}

.PrincipalGame {
  margin: auto;
}

.infoJuego {
  background: #04445c;
  box-shadow: 0px 0px 10px black;
  font-family: monospace;
  width: 650px;
  float: left;
  margin-right: 50px;
  margin-left: 10px;
  border-radius: 5px;
}

.infoJuego1 {
 background: #04445c;
 box-shadow: 0px 0px 10px black;
 font-family: monospace;
 overflow: scroll;
 width: 360px;
 margin-right: 10px;
 height: 500px;
 border-radius: 5px;
}

.infoJuego iframe {
  width: 325px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  float: left;
  border-radius: 5px;
}

.infoJuego img {
  width: 130px;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  border-radius: 5px;
}

.MuestraJuego2 {
  float: right;
  width: 300px;
}

.MuestraJuego2 a {
  background-color: #02223b;
  width: 75px;
  height: 35px;
  margin-top: 10px;
  margin-right: 50px;
  border: 1px solid #006797;
  border-radius: 5px;
  text-align: center;
  line-height: 35px;
  color: white;
  float: left;
}

.MuestraJuego2 h2 {
width: 100px;
float: left;
}

.PrincipalJuego {
  background: #04445c;
  width: 500px;
  margin-bottom: 100px;
  margin-left: 300px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
<<<<<<< HEAD
}
=======
  font-family: monospace;
}

.PrincipalJuego h3 {
  text-align: center;
  font-size: 35px;
}

.PrincipalJuego img {
  position: unset;
}
>>>>>>> 6fe8ad998ceb2d1b9ed2c0c8f55d8ea4b4452d76
